.input-button {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
}

.input-field:hover {
  border-color: var(--button-background-color);
}

.input-field {
  border-radius: 15px;
  padding-left: 5px;
  padding: 8px;
  background-color: rgba(224, 219, 213, 60%);
  backdrop-filter: blur(10px);
}

.row-title {
  flex-direction: row;
  align-content: center;
  align-self: center;
  justify-content: center;

  margin: 5% 0;
}

.row-form {
  margin: 5% 8%;
}

.button-create {
  margin-left: 8%;
  padding: 8px;
}

.button-create {
  background-color: rgba(255, 255, 255, 0); /* Fully transparent */
  color: var(--button-background-color);
}

.recipe-card {
  height: fit-content;
  border-radius: 12px;
  border: none;
}

@media (max-width: 1440px) {
  .card-body {
    min-height: 11rem;
    max-height: fit-content;
  }
}

.col-recipe {
  margin-right: -3rem !important;
}

img {
  height: 15rem;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.card-body {
  min-height: 9.5rem;
  max-height: fit-content;
}

.recipe-card:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.pagination {
  align-self: center;
}

.user-info {
  margin-bottom: 0.2rem;
}

.user-icon {
  width: 24px;
  height: 24px;
}

.user-name {
  margin-bottom: 0;
}

.btn-add-to-list {
  font-size: 14px;
}

.page-link {
  color: var(--button-background-color);
  cursor: pointer;
}

.page-link:hover,
.pagination > li > span:hover,
.pagination > li > a:hover {
  background-color: rgba(224, 219, 213, 0.21);
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.pagination > li > a:focus,
.pagination > li > span:focus,
.page-link.active, .active > .page-link{
  background-color: var(--button-background-color);
  border-color: var(--button-background-color);
  backdrop-filter: blur(10px);
  color: white;

  cursor: pointer;
}

.card-title-link-disa {
  color: var(--bs-card-title-color);
  text-decoration: none;
}

.card-title-link-disa:hover {
  color: var(--bs-card-title-color);
  text-decoration: underline;
}

.userinfo-buttons-space {
  margin-left: auto;
}

.like-dislike {
  cursor: pointer;
  font-size: 1.5em;
}

