<div class="background-img">
  <div class="container-fluid">
    <div class="row row-title">
      <div class="col-md-3">
        <h2 class="bb-dialog-box-header title-margin">Discover Recipes</h2>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <input type="text" class="form-control input-field" placeholder="Search recipes...">
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group">
          <button type="submit" class="button-create">
            <i class="bi bi-plus">
              Add recipe
            </i>
          </button>
        </div>
      </div>
    </div>

    <div class="row row-form">
      <div class="col-md-3 mb-5" *ngFor="let recipe of recipes">
        <div class="card recipe-card">
          <img *ngIf="getImageFor(recipe) !== null" [src]="sanitizeImage(getImageFor(recipe))"
               class="card-img-top rounded-top img-zoom" alt="Recipe Image">
          <div class="card-body">
            <a class="card-title-link-disa" [routerLink]="['/recipes', recipe.id]">
              <h5 class="card-title">{{ recipe.name }}</h5>
            </a><br>
            <p class="card-text">Number of Persons: 4 persons | </p>
            <div class="userinfo-buttons-space">
              <div class="user-info d-flex align-items-center">
                <img src="assets/icons/user_default.png" class="rounded-circle user-icon" alt="User Icon">
                <div class="user-details ms-3">
                  <p class="user-name">user name</p>
                  <!-- <button class="btn btn-primary btn-add-to-list">+ Add to List</button> -->
                </div>
              </div>
              <div></div>
              <div class="btn-group d-flex align-items-">
                <a
                  (click)="rateRecipe(recipe.id, 1)"
                  aria-label="Like Recipe">
                  <i *ngIf="likes.includes(recipe.id); else notFilledUp" class="bi bi-hand-thumbs-up-fill"></i>
                  <ng-template #notFilledUp><i class="bi bi-hand-thumbs-up"></i></ng-template>
                </a>
                <a
                  (click)="rateRecipe(recipe.id, 0)"
                  aria-label="Dislike Recipe">
                  <i *ngIf="dislikes.includes(recipe.id); else notFilledDown" class="bi bi-hand-thumbs-down-fill"></i>
                  <ng-template #notFilledDown><i class="bi bi-hand-thumbs-down"></i></ng-template>
                </a>
              </div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-auto">
      <div class="container">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" (click)="pageChanger(0)" aria-label="First">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" *ngIf="this.searchParams.page - 1 > 0"
                                   (click)="pageChanger(this.searchParams.page - 2)">{{this.searchParams.page - 1}}</a>
          </li>
          <li class="page-item"><a class="page-link" *ngIf="this.searchParams.page > 0"
                                   (click)="pageChanger(this.searchParams.page - 1)">{{this.searchParams.page}}</a>
          </li>
          <li class="page-item active"><a class="page-link">{{this.searchParams.page + 1}}</a></li>
          <li class="page-item" *ngIf="maxPages > this.searchParams.page + 1"><a class="page-link"
                                                                                 (click)="pageChanger(this.searchParams.page + 1)">{{this.searchParams.page + 2}}</a>
          </li>
          <li class="page-item" *ngIf="maxPages > this.searchParams.page + 2"><a class="page-link"
                                                                                 (click)="pageChanger(this.searchParams.page + 2)">{{this.searchParams.page + 3}}</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="pageChanger(maxPages - 1)" aria-label="Last">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--
    <div class="col-md-auto">
      <button class="btn btn-success rounded-pill" [routerLink]="['/recipes/create']" aria-label="Create Recipe">
        <i class="bi-plus-square"></i>
        Create Recipe
      </button>
    </div>
    <div class="col-md-auto">
        <i class="bi bi-search mr-4"></i>
        <input type="text" id="searchRecipeName" name="searchRecipeName" placeholder="Enter a recipe"
             class="form-control rounded-pill"
             [(ngModel)]="searchParams.name"
             (ngModelChange)="searchChanged()">
    </div>
    -->
  </div>
  <!--
    <div class="row">
      <div class="col-md-auto p-3" *ngFor="let recipe of recipes">
        <div class="card border-primary">
          <img class="card-img-top img-thumbnail" [src]="sanitizeImage(recipe.picture)" alt="Image of recipe">
          <h5 class="card-title m-1">{{recipe.name}}</h5>
          <p class="card-text m-1">Preview of the recipe, but currently not implemented</p>
          <div class="row-cols-3">
            <div class="btn-group">
              <a class="btn btn-sm btn-primary"
                 [routerLink]="['/recipes', recipe.id]"
                 aria-label="Show recipe details">
                <i class="bi bi-info-lg"></i>
              </a>
              <a class="btn btn-sm btn-success"
                 (click)="rateRecipe(recipe.id, 1)"
                 aria-label="Like Recipe">
                <i class="bi bi-hand-thumbs-up"></i>
              </a>
              <a class="btn btn-sm btn-danger"
                 (click)="rateRecipe(recipe.id, 0)"
                 aria-label="Dislike Recipe">
                <i class="bi bi-hand-thumbs-down"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    -->
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-auto">
      <div class="container">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" (click)="pageChanger(0)" aria-label="First">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" *ngIf="this.searchParams.page - 1 > 0"
                                   (click)="pageChanger(this.searchParams.page - 2)">{{this.searchParams.page - 1}}</a>
          </li>
          <li class="page-item"><a class="page-link" *ngIf="this.searchParams.page > 0"
                                   (click)="pageChanger(this.searchParams.page - 1)">{{this.searchParams.page}}</a></li>
          <li class="page-item active"><a class="page-link">{{this.searchParams.page + 1}}</a></li>
          <li class="page-item" *ngIf="maxPages > this.searchParams.page + 1"><a class="page-link"
                                                                                 (click)="pageChanger(this.searchParams.page + 1)">{{this.searchParams.page + 2}}</a>
          </li>
          <li class="page-item" *ngIf="maxPages > this.searchParams.page + 2"><a class="page-link"
                                                                                 (click)="pageChanger(this.searchParams.page + 2)">{{this.searchParams.page + 3}}</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="pageChanger(maxPages - 1)" aria-label="Last">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-auto">
      <button class="btn btn-success rounded-pill" [routerLink]="['/recipes/create']" aria-label="Create Recipe">
        <i class="bi-plus-square"></i>
        Create Recipe
      </button>
    </div>
    <!-- TODO: this should all be in at the same height, but somehow its not -->
    <div class="col-md-auto">
      <i class="bi bi-search mr-4"></i>
      <input type="text" id="searchRecipeName" name="searchRecipeName" placeholder="Enter a recipe"
             class="form-control rounded-pill"
             [(ngModel)]="searchParams.name"
             (ngModelChange)="searchChanged()">
    </div>
  </div>

  <div class="row">
    <div class="col-md-auto p-3" *ngFor="let recipe of recipes">
      <div class="card border-primary">
        <img class="card-img-top img-thumbnail" *ngIf="getImageFor(recipe) !== null"
             [src]="sanitizeImage(getImageFor(recipe))" alt="Image of recipe">
        <h5 class="card-title m-1">{{recipe.name}}</h5>
        <p class="card-text m-1">Preview of the recipe, but currently not implemented</p>
        <div class="row-cols-3">
          <div class="btn-group">
            <a class="btn btn-sm btn-primary"
               [routerLink]="['/recipes', recipe.id]"
               aria-label="Show recipe details">
              <i class="bi bi-info-lg"></i>
            </a>
            <a class="btn btn-sm btn-success"
               (click)="rateRecipe(recipe.id, 1)"
               aria-label="Like Recipe">
              <i *ngIf="likes.includes(recipe.id); else notFilledUp" class="bi bi-hand-thumbs-up-fill"></i>
              <ng-template #notFilledUp><i class="bi bi-hand-thumbs-up"></i></ng-template>

            </a>
            <a class="btn btn-sm btn-danger"
               (click)="rateRecipe(recipe.id, 0)"
               aria-label="Dislike Recipe">
              <i *ngIf="dislikes.includes(recipe.id); else notFilledDown" class="bi bi-hand-thumbs-down-fill"></i>
              <ng-template #notFilledDown><i class="bi bi-hand-thumbs-down"></i></ng-template>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
