<!-- TEMPORARY HEADER -->
<div style="display: flex; flex-direction: row; padding: 1rem; background-color: whitesmoke;">
  <span style="margin-right: 2rem;">TEMPORARY NAVIGATION HEADER (MR2)</span>
  <a [routerLink]="['/settings']" style="margin-right: 1rem;">Settings</a>
  <a [routerLink]="['/profile']">Profile</a>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-auto">
      <div class="container">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" (click)="pageChanger(0)" aria-label="First">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" *ngIf="this.searchParams.page - 1 > 0" (click)="pageChanger(this.searchParams.page - 2)">{{this.searchParams.page - 1}}</a></li>
          <li class="page-item"><a class="page-link" *ngIf="this.searchParams.page > 0" (click)="pageChanger(this.searchParams.page - 1)">{{this.searchParams.page}}</a></li>
          <li class="page-item active"><a class="page-link">{{this.searchParams.page + 1}}</a></li>
          <li class="page-item" *ngIf="maxPages > this.searchParams.page + 1" ><a class="page-link" (click)="pageChanger(this.searchParams.page + 1)">{{this.searchParams.page + 2}}</a></li>
          <li class="page-item" *ngIf="maxPages > this.searchParams.page + 2" ><a class="page-link" (click)="pageChanger(this.searchParams.page + 2)">{{this.searchParams.page + 3}}</a></li>
          <li class="page-item">
            <a class="page-link" (click)="pageChanger(maxPages - 1)" aria-label="Last">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-auto">
      <button class="btn btn-success rounded-pill" [routerLink]="['/recipes/create']" aria-label="Create Recipe">
        <i class="bi-plus-square"></i>
        Create Recipe
      </button>
    </div>
    <!-- TODO: this should all be in at the same height, but somehow its not -->
    <div class="col-md-auto">
        <i class="bi bi-search mr-4"></i>
        <input type="text" id="searchRecipeName" name="searchRecipeName" placeholder="Enter a recipe"
             class="form-control rounded-pill"
             [(ngModel)]="searchParams.name"
             (ngModelChange)="searchChanged()">
    </div>
    </div>

  <div class="row">
    <div class="col-md-auto p-3" *ngFor="let recipe of recipes">
      <div class="card border-primary">
        <img class="card-img-top img-thumbnail" [src]="sanitizeImage(recipe.picture)" alt="Image of recipe">
        <h5 class="card-title m-1">{{recipe.name}}</h5>
        <p class="card-text m-1">Preview of the recipe, but currently not implemented</p>
        <div class="row-cols-3">
          <div class="btn-group">
            <a class="btn btn-sm btn-primary"
               [routerLink]="['/recipes', recipe.id]"
               aria-label="Show recipe details">
              <i class="bi bi-info-lg"></i>
            </a>
            <a class="btn btn-sm btn-success"
               (click)="rateRecipe(recipe.id, 1)"
               aria-label="Like Recipe">
              <i *ngIf= "likes.includes(recipe.id); else elseBlock" class="bi bi-hand-thumbs-up-fill"></i>
              <ng-template #elseBlock><i class="bi bi-hand-thumbs-up"></i></ng-template>

            </a>
            <a class="btn btn-sm btn-danger"
               (click)="rateRecipe(recipe.id, 0)"
               aria-label="Dislike Recipe">
              <i *ngIf= "dislikes.includes(recipe.id); else elseBlock"class="bi bi-hand-thumbs-down-fill"></i>
              <ng-template #elseBlock><i class="bi bi-hand-thumbs-down"></i></ng-template>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

