<!-- TEMPORARY HEADER -->
<div style="display: flex; flex-direction: row; padding: 1rem; background-color: whitesmoke;">
  <span style="margin-right: 2rem;">TEMPORARY NAVIGATION HEADER (MR2)</span>
  <a [routerLink]="['/settings']" style="margin-right: 1rem;">Settings</a>
  <a [routerLink]="['/profile']">Profile</a>
</div>


<h1>Recipe List</h1>
<div class="d-flex flex-row w-auto">
  <button class="btn btn-success" [routerLink]="['/recipes/create']" aria-label="Create Recipe">
    <i class="bi-plus-square"></i>
    Create Recipe
  </button>
</div>

<form class="d-flex flex-row w-auto mb-3" (submit)="reloadRecipes()">
  <!-- this button is here, just so that simple submitting of this form
       to reload the recipes, is possible -->
  <button type="submit" hidden="hidden">submit</button>
  <div class="flex-grow-1">
    <label for="searchRecipeName" class="col-form-label">
      Name
    </label>
    <input type="text" id="searchRecipeName" name="searchRecipeName"
           class="form-control"
           [(ngModel)]="searchParams.name"
           (ngModelChange)="searchChanged()">
  </div>
</form>
<button class="btn btn-primary mr-1" (click)="pageCounter(-1)" aria-label="Last Page">
  <i class="bi-arrow-left-square"></i>
  Last Page
</button>
<button class="btn btn-primary mr-1" (click)="pageCounter(1)" aria-label="Next Page">
  <i class="bi-arrow-right-square"></i>
  Next Page
</button>

<!-- Cards to show recipes -->
<div class="container">
  <div class="row">
    <div class="col-md-auto p-3" *ngFor="let recipe of recipes">
      <div class="card border-primary">
        <img class="card-img-top img-thumbnail" [src]="sanitizeImage(recipe.picture)" alt="Image of recipe">
        <h5 class="card-title m-1">{{recipe.name}}</h5>
        <p class="card-text m-1">Preview of the recipe, but currently not implemented</p>
        <div class="row-cols-3">
          <div class="btn-group">
            <a class="btn btn-sm btn-primary"
               [routerLink]="['/recipes', recipe.id]"
               aria-label="Show recipe details">
              <i class="bi bi-info-lg"></i>
            </a>
            <a class="btn btn-sm btn-success"
               aria-label="Like Recipe">
              <i class="bi bi-hand-thumbs-up"></i>
            </a>
            <a class="btn btn-sm btn-danger"
               aria-label="Dislike Recipe">
              <i class="bi bi-hand-thumbs-down"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

