.setting-layout {
  margin-top: 15%;
  margin-left: 20%;
  margin-bottom: 15%;
  position: fixed; /* Responsive */
  width: 20%;
  background-color: white;
  box-shadow: rgba(0,0,0, 0.15) 1px 1px 10px;
  border-radius: 35px;

  word-wrap: break-word;
}

.profile-sidebar-wrapper {
  position: relative;
  text-align: center;
}

.profile-img {
  width: 40%;
  transform: translateY(-50%);
}

.link-sidebar {
  margin-top: 15%;
}

.link-sidebar ul {
  padding:2rem !important;
  margin-bottom: 10rem !important;
}

.link-sidebar li {
  font-size: 21px;
  width: 70%;
  margin-left: 10%;
  margin-bottom: 20%;
}

.link-sidebar a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

i {
  font-size: 1.2em;
}

.link-sidebar i {
  vertical-align: middle;
}

.btn-group-vertical {
  //margin-top: 50%;
  margin-bottom: 5%;
}

button {
  margin-bottom: 15%;
}

/* Media query for screens up to 1170px */
@media screen and (max-width: 1170px) {
  .link-sidebar ul {
    //example on how to make it mobile
  }

}

.form-group {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 15%;

  width: 70%;
  height: fit-content;
}

.bb-settings-layout-box {
  margin-top: 15%;
  margin-left: 42%;
  margin-bottom: 10%;
  position: fixed; /* Responsive */
  width: 50%;
  background-color: white;
  box-shadow: rgba(0,0,0, 0.15) 1px 1px 10px;
  border-radius: 35px;
  height: 70vh;

  word-wrap: break-word;
}
