<main>
  <div class="container-fluid" style="height: 100%; position: fixed; top: 0; left: 0; width: 100%;">
    <div style="margin: 10% 0; display: flex; flex-direction: row; justify-content: center; height: 80%;">
      <div class="setting-layout" style="position: relative; margin: 0 2rem 0 0; padding: 0 1rem; width: 40%; max-width: 17rem; height: fit-content;">
        <div class="row-cols-1">
          <div class="profile-sidebar-wrapper">
            <div class="profile-picture">
              <img [src]="safePictureUrl" class="rounded-circle profile-img" alt="Account Image">
            </div>
            <div class="user-info">
              <div class="username">
                <h5>{{ this.accountUsername }}</h5>
              </div>
              <div class="user-email">
                <h6 *ngIf="this.accountEmail.length < 40" id="sidebar-email">{{ this.accountEmail }}</h6>
              </div>
            </div>
            <!-- Add links-->
            <div class="link-sidebar">
              <ul>
                <li>
                  <a [routerLink]="['/settings/user']" class="bb-link" [class.active]="activeNavItem === 'user'">
                    <i class="bi bi-person"></i>
                    User Info
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/settings/email']" class="bb-link link-email"
                     [class.active]="activeNavItem === 'email'">
                    <i class="bi bi-envelope"></i>
                    Email
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/settings/password']" class="bb-link" [class.active]="activeNavItem === 'password'">
                    <i class="bi bi-lock"></i>
                    Password
                  </a>
                </li>
              </ul>
            </div>
            <!--Buttons -->
            <div class="container-fluid" style="margin-top: 10%;">
              <div class="button-wrapper">
                <button class="button-transparent" (click)="onClickDashboard()">
                  <div class="text-container">
                <span class="bb-text-inside-btn-transp">
                  <i class="bi bi-house"></i>
                  Dashboard
                </span>
                  </div>
                </button>
                <button class="button-transparent" (click)="onClickLogout()">
                  <div class="text-container">
                <span class="bb-text-inside-btn-transp">
                  <i class="bi bi-box-arrow-left"></i>
                  Logout
                </span>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Content Container -->
      <div class="bb-settings-layout-box" style="position: relative; margin: 0; max-width: 40rem;">
        <div class="row-cols-1 form-group">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</main>
