<div class="bb-settings-layout-container">
  <div class="row">
    <div class="col-lg-11 col-md-11 col-sm-12 mx-auto" style="height: 100%; position: relative;">

      <!-- desktop (medium and large screens) -->

      <div *ngIf="!this.isTablet && !this.isPhone" class="bb-settings-layout-desktop">

        <!-- Sidebar Container -->
        <div class="bb-settings-layout-box" id="settings-sidebar-desktop">

          <!-- Account -->
          <div id="settings-sidebar-account-desktop">
            <img src="/assets/icons/user_default.png" alt="Account Image">
            <div>
              <p id="sidebar-username" class="bb-selectable">{{ this.accountUsername }}</p>
              <p *ngIf="this.accountEmail.length < 40" class="bb-selectable" id="sidebar-email">{{ this.accountEmail }}</p>
            </div>
          </div>

          <!-- Navbar -->
          <div id="settings-sidebar-navbar-desktop">
            <ul class="bb-settings-navbar-desktop-list">
              <li class="bb-settings-navbar-desktop-list-item" [class.active]="activeNavItem == 'account'">
                <i class="bi-person-badge"></i>
                <a routerLink="/settings/account">Account</a>
              </li>
              <li class="bb-settings-navbar-desktop-list-item" [class.active]="activeNavItem == 'password'">
                <i class="bi-key"></i>
                <a routerLink="/settings/password">Password</a>
              </li>
              <li class="bb-settings-navbar-desktop-list-item" [class.active]="activeNavItem == 'system'">
                <i class="bi-gear"></i>
                <a routerLink="/settings/system">System</a>
              </li>
            </ul>

            <ul class="bb-settings-navbar-desktop-list">
              <button class="bb-button-big" (click)="onClickDashboard()">
                <i class="bi-house" style="margin-right: 0.3rem;"></i>
                Back to Dashboard
              </button>
              <button class="bb-button-big bb-button-danger" (click)="onClickLogout()">
                <i class="bi-box-arrow-left" style="margin-right: 0.3rem;"></i>
                Logout
              </button>
            </ul>
          </div>

        </div>

        <!-- Content Container -->
        <div class="bb-settings-layout-box" id="settings-content-container">

          <router-outlet></router-outlet>

        </div>
      </div>

      <!-- tablet (small screens) -->

      <div *ngIf="this.isTablet" class="bb-settings-layout-tablet" style="height: 100%;">

        <!-- Button Bar -->
        <div class="bb-settings-buttonbar-tablet">
          <button class="bb-button bb-button-danger" (click)="onClickLogout()">
            <i class="bi-box-arrow-left" style="margin-right: 0.3rem;"></i>
            Logout
          </button>
          <button class="bb-button" (click)="onClickDashboard()">
            <i class="bi-house" style="margin-right: 0.3rem;"></i>
            Back to Dashboard
          </button>
        </div>

        <!-- Header bar -->
        <div class="bb-settings-headerbar-tablet">

          <!-- Account info -->
          <div class="bb-settings-layout-box bb-settings-headerbar-account-tablet">
            <img src="/assets/icons/user_default.png" alt="Account Image">
            <div>
              <p id="sidebar-username" class="bb-selectable">{{ this.accountUsername }}</p>
              <p *ngIf="this.accountEmail.length < 40" class="bb-selectable" id="sidebar-email">{{ this.accountEmail }}</p>
            </div>
          </div>

          <!-- Navigation -->
          <div class="bb-settings-layout-box bb-settings-headerbar-navigation-tablet">
            <ul class="bb-settings-navbar-tablet-list">
              <li [routerLink]="['/settings/account']" class="bb-settings-navbar-tablet-list-item" [class.active]="activeNavItem == 'account'">
                <div>
                  <i class="bi-person-badge"></i>
                  <a>Account</a>
                </div>
              </li>
              <li [routerLink]="['/settings/password']" class="bb-settings-navbar-tablet-list-item" [class.active]="activeNavItem == 'password'">
                <div>
                  <i class="bi-key"></i>
                  <a>Password</a>
                </div>
              </li>
              <li [routerLink]="['/settings/system']" class="bb-settings-navbar-tablet-list-item" [class.active]="activeNavItem == 'system'">
                <div>
                  <i class="bi-gear"></i>
                  <a>System</a>
                </div>
              </li>
            </ul>
          </div>

        </div>

        <!-- Content Container -->
        <div class="bb-settings-layout-box" id="settings-content-container">
          <router-outlet></router-outlet>
        </div>

      </div>

      <!-- phone (small screens) -->

      <div *ngIf="this.isPhone" class="bb-settings-layout-phone">

        <!-- Header bar -->
        <div class="bb-settings-mobile-headerbar" id="settings-headerbar-container">
          PHONE HEADER
        </div>

        <!-- Content Container -->
        <div class="bb-settings-layout-box" id="settings-content-container">
          <router-outlet></router-outlet>
        </div>

      </div>

    </div>
  </div>
</div>
