.input-button {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
}

.active-tag {
  background-color: green;
  color: white;
  padding: 2px 5px;
  margin-right: 5px;
  border-radius: 5px;
  font-size: smaller;
}

.input-field {
  border-radius: 15px;
  padding-left: 5px;
  padding: 8px;
  background-color: rgba(224, 219, 213, 60%);
  backdrop-filter: blur(10px);
}

.button-create {
  margin-left: 8%;
  padding: 8px;
}

.row-title {
  flex-direction: row;
  align-content: center;
  align-self: center;
  justify-content: center;

  margin: 5% 0;
}

.row-form {
  margin: 5% 8%;
}

.card {
  margin-bottom: 30px;
}

.card-title-link-disa:hover {
  color: var(--bs-card-title-color);
  text-decoration: underline;
}

.card-title-link-disa {
  color: var(--bs-card-title-color);
  text-decoration: none;
}

.delete-button {
  align-self: end;
}

.edit-button {
  align-self: start;
}

.buttons-flex {
  display: flex;
  justify-content: space-between;
}

