.center {
  display: flex;
  justify-content: center;
}

.recipe-name {
  font-size: calc(0.5rem + 1vw);
  font-weight: 600;
  line-height: 1.2;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.start-additional-info {
  margin-top: 1.5rem;
}

.img-thumbnail {
  width: auto;
  height: 400px;
}

.like {
  color: green;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  margin-left: 2%;
}

.dislike {
  color: red;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  margin-left: 2%;
}

