.bb-password-reset-box {
  font-size: 1rem;

  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
}

.bb-password-reset-box p, input, button {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.bb-password-reset-box header {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.bb-password-reset-box img {
  position: relative;

  margin: 2rem 0;

  width: 40%;
  max-width: 180px;
}
