<div class="pt-5">
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">

      <div class="bb-card">
        <div style="padding: 0.8rem;">

          <div class="bb-password-reset-box">
            <header>Password Reset</header>

            <p>
              Please enter a new password
            </p>

            <form class="form" [formGroup]="passwordForm" (ngSubmit)="onSubmit()" style="width: 100%; max-width: 20rem;">
              <div style="width: 100%; max-width: 20rem;">
                <input type="text" name="inputPassword" formControlName="password"
                       class="bb-input-textfield"
                       [class.bb-input-textfield-error]="submitted && passwordForm.controls.password.errors"
                       id="inputPassword"
                       aria-describedby="passwordHelp"
                       placeholder="Enter Password">
                <div *ngIf="submitted && passwordForm.controls.password.errors" class="error">
                  <small class="form-text text-danger" style='text-align: start; display: block; width: 100%;' *ngIf="passwordForm.controls.password.errors.required">Password is required
                  </small>
                  <small class="form-text text-danger" *ngIf="passwordForm.controls.password.errors.minlength">
                    Must be at least 8 characters
                  </small>
                </div>

                <input type="text" name="inputPasswordConfirm" formControlName="passwordConfirm"
                       class="bb-input-textfield"
                       [class.bb-input-textfield-error]="submitted && passwordForm.controls.passwordConfirm.errors"
                       id="inputPasswordConfirm"
                       aria-describedby="passwordConfirmHelp"
                       placeholder="Confirm Password">
                <div *ngIf="submitted && passwordForm.controls.passwordConfirm.errors" class="error">
                  <small class="form-text text-danger" style='text-align: start; display: block; width: 100%;' *ngIf="passwordForm.controls.passwordConfirm.errors.required">Password is required
                  </small>
                  <small class="form-text text-danger" *ngIf="passwordForm.controls.passwordConfirm.errors.minlength">Must be at least 8 characters
                  </small>
                  <small class="form-text text-danger" *ngIf="passwordForm.controls.passwordConfirm.errors.mismatchedPasswords">Passwords not equal
                  </small>
                </div>

                <button type="button" name="loginButton" (click)="onSubmit()" class="bb-button-big">Reset Password</button>
              </div>
            </form>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
