<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid header">
    <div class="left">
      <div class="text-wrapper">Bite-Buddy</div>
      <div class="buttons-group">
        <div class="menu-item"><div class="div">Products</div></div>
        <div class="menu-item"><div class="div">Solutions</div></div>
        <div class="menu-item"><div class="div">Services</div></div>
        <div class="menu-item"><div class="div">Configure</div></div>
      </div>
    </div>
    <div class="buttons-group-2">
      <button class="button">
        <div class="text-container">
          <button class="button-text">Login</button>
        </div>
      </button>
      <div class="button-2">
        <div class="button-text-wrapper">
          <span class="text-inside-btn">
            Sign up for free
            <i class="bi bi-arrow-right"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</nav>
