<div *ngIf="error" class="bb-message-box bb-message-box-error">
  {{ errorMessage }}
</div>

<div style="padding: 0.8rem;">
  <div class="bb-settings-box">
    <header>Change User Settings</header>
    <form class="form" [formGroup]="settingsForm" (ngSubmit)="updateUserSettings()">


      <div class="form-group">
        <label for="image">Profile Picture:</label>

        <div class="image-container">
          <img [ngSrc]="safePictureUrl" alt="Account Image" height="100" width="100">
          <button type="button" class="btn btn-primary" (click)="triggerFileInput()">
            <i class="bi-pencil" aria-hidden="true"></i>
          </button>
          <input type="file"
                 id="image"
                 name="image"
                 accept="image/png, image/jpeg"
                 (change)="onPictureChange($event)"
                 #fileInput hidden>
        </div>
      </div>

      <div class="form-group">
        <label for="inputNickname">Nickname:</label>
        <input type="text" name="nickname" formControlName="nickname"
               class="bb-input-textfield"
               [class.bb-input-textfield-error]="submitted && settingsForm.controls.nickname.errors"
               id="inputNickname"
               placeholder="Nickname">

        <div *ngIf="submitted && settingsForm.controls.nickname.errors" class="error">
          <small class="form-text text-danger" *ngIf="settingsForm.controls.nickname.errors.required">
            Nickname is required.
          </small>
        </div>
      </div>

      <button type="button" (click)="updateUserSettings()" class="bb-button">Save</button>

    </form>
  </div>
</div>
