<div *ngIf="error" class="bb-message-box bb-message-box-error">
  {{ errorMessage }}
</div>

<div class="setting-container-msg">
  <h2 class="setting-header">User Info</h2>
  <div class="row-cols-1 register-form">
    <form class="form" [formGroup]="settingsForm" (ngSubmit)="updateUserSettings()">
      <div class="form-group">
        <label for="image" class="label-picture">Your profile picture</label>
        <div class="image-container">
          <img [ngSrc]="safePictureUrl" alt="Account Image">
          <button type="button" class="btn button-upload" (click)="triggerFileInput()">
            <i class="bi-pencil" aria-hidden="true"></i>
          </button>
          <input type="file"
                 id="image"
                 name="image"
                 accept="image/png, image/jpeg"
                 (change)="onPictureChange($event)"
                 #fileInput hidden>
        </div>
      </div>
      <!-- Username input fields -->
      <div class="form-group">
        <label for="inputNickname" class="bb-transition-label"
               *ngIf="isInputFocused['nickname'] || settingsForm.get('nickname').value">Username</label>
        <input type="text" name="nickname" formControlName="nickname"
               class="bb-input-textfield bb-input input-nickname"
               [class.bb-input-textfield-error]="submitted && settingsForm.controls.nickname.errors"
               id="inputNickname"
               aria-describedby="nicknameHelp"
               placeholder="Username"
               (focus)="isInputFocused['nickname'] = true"
               (blur)="this.updateInputFocus('nickname')"
               [ngClass]="{'filled-input': settingsForm.get('nickname').value !== ''}"
               required
        >
        <div *ngIf="submitted && settingsForm.controls.nickname.errors" class="bb-input-error">
          <small class="form-text text-danger" *ngIf="settingsForm.controls.nickname.errors.required">
            Username is required.
          </small>
          <!-- TODO: Add username to long or made out of whitespaces or just get fully deleted-->
        </div>
      </div>
      <!-- TODO: add cancel button? -->
      <button type="submit" name="emailUpdateButton" class="button-full bb-form-button" (click)="updateUserSettings()">Save changes</button>
    </form>
  </div>
</div>
