.setting-header {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-top: 16% !important;
  margin-bottom: 10%;
}

.register-form {
  margin-bottom: 20%;
}

.filled-input {
  color: black;
}

.input-error-general {
  margin-top: 5%;
}

.bb-form-button {
  margin-top: 18%;
}

.image-container {
  position: relative;
  width: 35%;
  margin: 5% 5% 3rem;
}

.label-picture {
  margin-left: 0;
}

img {
  width: 60%;
  height: auto;
}

.form-group {
  margin-bottom: 10%;

  height: fit-content;
}

.button-upload {
  background-color: var(--button-background-color);
  border-radius: 50%;
  color: white;
  margin-left: -15%;
  z-index: 1;
  transform: translateY(50px);
}

.input-nickname {
  margin-top: 4%;
}
