.image-container {
  position: relative;
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.btn-primary {
  position: absolute;
  bottom: -15px;
  right: -15px;
  border-radius: 50%; /* Make it circular */
  padding-left: 10px;
  padding-right: 10px;
}
