<div *ngIf="error" class="bb-message-box bb-message-box-error">
  {{ errorMessage }}
</div>

<div style="padding: 0.8rem;">
  <div class="bb-settings-box">
    <header>Change Password</header>
    <form class="form" [formGroup]="settingsForm" (ngSubmit)="updateUserSettings()">

      <div class="form-group">
        <label for="currentPassword">Current Password:</label>
        <input type="password" name="currentPassword" formControlName="currentPassword"
               class="bb-input-textfield"
               [class.bb-input-textfield-error]="submitted && settingsForm.controls.currentPassword.errors"
               id="currentPassword"
               placeholder="Enter Current Password">
        <div *ngIf="submitted && settingsForm.controls.currentPassword.errors" class="error">
          <small class="form-text text-danger" *ngIf="settingsForm.controls.currentPassword.errors.required">
            Password is required
          </small>
          <small class="form-text text-danger" *ngIf="settingsForm.controls.currentPassword.errors.minlength">
            Password has to be at least 8 characters long
          </small>
        </div>
      </div>

      <div class="form-group">
        <label for="password">New Password:</label>
        <input type="password" name="password" formControlName="password"
               class="bb-input-textfield"
               [class.bb-input-textfield-error]="submitted && settingsForm.controls.password.errors"
               id="password"
               placeholder="Enter New Password">
        <div *ngIf="submitted && settingsForm.controls.password.errors" class="error">
          <small class="form-text text-danger" *ngIf="settingsForm.controls.password.errors.required">
            Password is required
          </small>
          <small class="form-text text-danger" *ngIf="settingsForm.controls.password.errors.minlength">
            Password has to be at least 8 characters long
          </small>
          <small class="form-text text-danger" *ngIf="settingsForm.controls.password.errors.match">
            Passwords have to match
          </small>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Confirm Password:</label>
        <input type="password" name="password2" formControlName="password2"
               class="bb-input-textfield"
               [class.bb-input-textfield-error]="submitted && settingsForm.controls.password2.errors"
               id="password2"
               placeholder="Confirm New Password">
        <div *ngIf="submitted && settingsForm.controls.password2.errors" class="error">
          <small class="form-text text-danger" *ngIf="settingsForm.controls.password2.errors.required">
            Password is required
          </small>
          <small class="form-text text-danger" *ngIf="settingsForm.controls.password2.errors.minlength">
            Password has to be at least 8 characters long
          </small>
          <small class="form-text text-danger" *ngIf="settingsForm.controls.password2.errors.match">
            Passwords have to match
          </small>
        </div>
      </div>

      <button type="button" (click)="updateUserSettings()" class="bb-button">Save</button>

    </form>
  </div>
</div>
