<main>
  <div *ngIf="error" class="bb-message-box bb-message-box-error">
    {{ errorMessage }}
  </div>

  <div class="setting-container-msg">
    <h2 class="setting-header">Change Password</h2>
    <div class="row-cols-1 register-form">
      <form class="form" [formGroup]="settingsForm" (ngSubmit)="updateUserSettings()">
        <div class="form-group">
          <label for="currentPassword" class="bb-transition-label"
                 *ngIf="isInputFocused['currentPassword'] || settingsForm.get('currentPassword').value">Current
            Password</label>
          <div class="bb-input-container">
            <input [type]="this.showPasswords ? 'text' : 'password'" name="currentPassword"
                   formControlName="currentPassword"
                   class="bb-input-textfield bb-input"
                   [class.bb-input-textfield-error]="submitted && settingsForm.controls.currentPassword.errors"
                   id="currentPassword"
                   placeholder="Current Password"
                   (focus)="isInputFocused['currentPassword'] = true"
                   (blur)="this.updateInputFocus('currentPassword')"
                   [ngClass]="{'filled-input': settingsForm.get('currentPassword').value !== ''}"
                   required>
            <button type="button" class="bb-toggle-password" (click)="togglePasswordVisibility()">
              <i *ngIf="!showPasswords; else showHiddenPassword" class="bi bi-eye"></i>
            </button>
          </div>
          <div *ngIf="submitted && settingsForm.controls.currentPassword.errors" class="bb-input-error">
            <small class="form-text text-danger" *ngIf="settingsForm.controls.currentPassword.errors.required">
              Current Password is required
            </small>
            <small class="form-text text-danger" *ngIf="settingsForm.controls.currentPassword.errors.minlength">
              Current Password has to be at least 8 characters long
            </small>
            <small class="form-text text-danger" *ngIf="settingsForm.controls.currentPassword.errors.valid">
              Current Password is not correct
            </small>
          </div>
        </div>
        <!-- New Password -->
        <div class="form-group">
          <label for="password" class="bb-transition-label"
                 *ngIf="isInputFocused['password'] || settingsForm.get('password').value">New Password</label>
          <div class="bb-input-container">
            <input [type]="this.showPassword1 ? 'text' : 'password'" name="password" formControlName="password"
                   class="bb-input-textfield bb-input"
                   [class.bb-input-textfield-error]="submitted && settingsForm.controls.password.errors"
                   id="password"
                   placeholder="New Password"
                   (focus)="isInputFocused['password'] = true"
                   (blur)="this.updateInputFocus('password')"
                   [ngClass]="{'filled-input': settingsForm.get('password').value !== ''}"
                   required>
            <button type="button" class="bb-toggle-password" (click)="togglePasswordVisibility1()">
              <i *ngIf="!showPassword1; else showHiddenPassword" class="bi bi-eye"></i>
            </button>
          </div>
          <div *ngIf="submitted && settingsForm.controls.password.errors" class="bb-input-error">
            <small class="form-text text-danger" *ngIf="settingsForm.controls.password.errors.required">
              New Password is required
            </small>
            <small class="form-text text-danger" *ngIf="settingsForm.controls.password.errors.minlength">
              New Password has to be at least 8 characters long
            </small>
            <small class="form-text text-danger" *ngIf="settingsForm.controls.password.errors.match">
              Passwords didn't match
            </small>
          </div>
        </div>

        <!-- Confirm new Password -->
        <div class="form-group">
          <label for="password2" class="bb-transition-label"
                 *ngIf="isInputFocused['password2'] || settingsForm.get('password2').value">Confirm New Password</label>
          <div class="bb-input-container">
            <input [type]="this.showPassword2 ? 'text' : 'password'" name="password2" formControlName="password2"
                   class="bb-input-textfield bb-input"
                   [class.bb-input-textfield-error]="submitted && settingsForm.controls.password2.errors"
                   id="password2"
                   placeholder="Confirm New Password"
                   (focus)="isInputFocused['password2'] = true"
                   (blur)="this.updateInputFocus('password2')"
                   [ngClass]="{'filled-input': settingsForm.get('password2').value !== ''}"
                   required>
            <button type="button" class="bb-toggle-password" (click)="togglePasswordVisibility2()">
              <i *ngIf="!showPassword2; else showHiddenPassword" class="bi bi-eye"></i>
            </button>
          </div>
          <div *ngIf="submitted && settingsForm.controls.password2.errors" class="bb-input-error">
            <small class="form-text text-danger" *ngIf="settingsForm.controls.password2.errors.required">
              Confirm Password is required
            </small>
            <small class="form-text text-danger" *ngIf="settingsForm.controls.password2.errors.minlength">
              Confirm Password has to be at least 8 characters long
            </small>
            <small class="form-text text-danger" *ngIf="settingsForm.controls.password2.errors.match">
              Passwords didn't match
            </small>
          </div>
        </div>
        <ng-template #showHiddenPassword>
          <i class="bi bi-eye-slash"></i>
        </ng-template>
        <button type="submit" name="emailUpdateButton" class="button-full bb-form-button"
                (click)="updateUserSettings()">Save changes
        </button>
      </form>
    </div>
  </div>
</main>
