<div class="container">
  <div class="row justify-content-center">
    <h1 class="text-center">My Menuplan</h1>
  </div>
</div>


<div class="row">
  <label for="menuplans" class="col-form-label text-md-start text-muted">
    Which menuplan do you want to see?
    <span class="required-asterisk">*</span>
  </label>
  <select multiple class="form-select"
          id="menuplans"
          formControlName="menuplans"
          (change)="onMenuPlanSelected($event)"
          required>
    <option *ngFor="let m of menuplans" [value]="m.fromTime">
      {{m.fromTime}} to {{m.untilTime}}
    </option>
  </select>
</div>



<div class="container">
  <div class="row">
    <div class="col-md-auto p-3" *ngFor="let content of contents; let i = index">
      <h3 *ngIf="(i+2) % maxTimeslots === 0" class="text-center">Day {{content.day + 1}}</h3>
      <h3 *ngIf="(i+2) % maxTimeslots !== 0" class="text-center">&#8203;</h3>
      <h3 class="text-center">Timeslot {{content.timeslot + 1}}</h3>
      <div class="card border-primary">
        <img class="card-img-top img-thumbnail" [src]="sanitizeImage(content.recipe.picture)" alt="Image of recipe">
        <h5 class="card-title m-1">{{content.recipe.name}}</h5>
        <h5 class="card-title m-1">{{content.day + 1}}</h5>
        <h5 class="card-title m-1">{{content.timeslot + 1}}</h5>
        <p class="card-text m-1">Preview of the recipe, but currently not implemented</p>
        <div class="row-cols-3">
          <div class="btn-group">
            <a class="btn btn-sm btn-primary"
               [routerLink]="['/recipes', content.recipe.id]"
               aria-label="Show recipe details">
              <i class="bi bi-info-lg"></i>
            </a>
            <a class="btn btn-sm btn-success" (click)="likeRecipe(content)" aria-label="Like Recipe">
              <i class="bi bi-arrow-clockwise"></i>
            </a>
            <a class="btn btn-sm btn-danger" (click)="dislikeRecipe(content)" aria-label="Dislike Recipe">
              <i class="bi bi-hand-thumbs-down"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

