<div *ngIf="this.showCreateDialog" class="bb-modal" tabindex="-1">
  <div class="bb-modal-dialog">
    <h2>New Menu Plan</h2>
    <form>
      <label for="profileDropdown">Select a profile</label>
      <select name="profileDropdown" id="profileDropdown" class="bb-dropdown" style="margin-bottom: 10px;" [(ngModel)]="createSelectedProfile">
        <option *ngFor="let profile of createUserProfiles" [value]="profile.id">{{profile.name}}</option>
      </select>
      <button (click)="onClickGenerate()" class="bb-button"><i class="bi-database-fill-add" style="margin-right: 0.6rem;"></i>Generate</button>
    </form>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <h1 class="text-center">My Menuplans</h1>
  </div>
</div>

<button (click)="this.showCreateDialog = true;">Add Menu Plan</button>

<div class="row">
  <label for="menuplans" class="col-form-label text-md-start text-muted">
    <span style="font-weight: bold;">Which menuplan do you want to see?</span>
    <span class="required-asterisk">*</span>
  </label>
  <select multiple class="form-select custom-select"
          id="menuplans"
          style="font-weight: bold;"
          formControlName="menuplans"
          (change)="onMenuPlanSelected($event)"
          required>
    <option *ngFor="let m of menuplans" [value]="m.fromTime">
      {{m.fromTime}} to {{m.untilTime}}
    </option>
  </select>
</div>



<div class="container">
  <div class="row">
    <div class="col-md-auto p-3" *ngFor="let content of contents; let i = index">
      <h3 *ngIf="(i+2) % maxTimeslots === 0" class="text-center">{{formatDateLocally(menuplan.fromTime, content.day)}} - lunch</h3>
      <h3 *ngIf="(i+2) % maxTimeslots === 1" class="text-center">{{formatDateLocally(menuplan.fromTime, content.day)}} - dinner</h3>
      <h3 *ngIf="(i+2) % maxTimeslots === 2" class="text-center">{{formatDateLocally(menuplan.fromTime, content.day)}} - breakfast</h3>
      <div class="card border-primary">
        <img *ngIf="getImageFor(content.recipe) !== null" class="card-img-top img-thumbnail" [src]="sanitizeImage(getImageFor(content.recipe))" alt="Image of recipe">
        <h5 class="card-title m-1">{{content.recipe.name}}</h5>
        <!-- <h5 class="card-title m-1">{{content.day + 1}}</h5>
        <h5 class="card-title m-1">{{content.timeslot + 1}}</h5> -->
        <p class="card-text m-1">Preview of the recipe, but currently not implemented</p>
        <div class="row-cols-3">
          <div class="btn-group">
            <a class="btn btn-sm btn-primary"
               [routerLink]="['/recipes', content.recipe.id]"
               aria-label="Show recipe details">
              <i class="bi bi-info-lg"></i>
            </a>
            <a class="btn btn-sm btn-success" (click)="likeRecipe(content)" aria-label="Like Recipe">
              <i class="bi bi-arrow-clockwise"></i>
            </a>
            <a class="btn btn-sm btn-danger" (click)="dislikeRecipe(content)" aria-label="Dislike Recipe">
              <i class="bi bi-hand-thumbs-down"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

