.required-asterisk {
  color: red;
}

.title-margin {
  margin-top: 35%;
}

.register-form {
  margin-top: 10%;
  margin-bottom: 20%;
}

.filled-input {
  color: black;
}

.input-error-general {
  margin-top: 5%;
}


.bb-form-button{
  margin-top: 10%;
}

h5 {
  width: fit-content;
  margin-top: 2%;
  margin-bottom: 5%;
}

.label-select {
  margin: 5% 0;
}
