<div style="padding: 20px;">

  <!-- invalid url messages -->
  <div *ngIf="!urlValid" class="password-reset-container">
    <div *ngIf="!requestIdValid">
      <span class="bb-dialog-box-header">Invalid Request</span>
      <p>We are missing your request ID, so we can't identify you... sorry!<br>
      Please check the URL, otherwise please try again!</p>
    </div>

    <div *ngIf="!expDateValid && requestIdValid">
      <span class="bb-dialog-box-header">Request Expired</span>
      <p>This password reset request expired at <strong>{{ this.expirationDate | date : 'dd.MM.yyyy hh:mm' }}</strong></p>
    </div>

    <button routerLink="/login" type="button" class="bb-button">Back to Login</button>
  </div>

  <!-- input form -->
  <div *ngIf="urlValid && !requestSent" class="password-reset-container">
    <!-- Header -->
    <span class="bb-dialog-box-header">Reset Password</span>

    <!-- Instructions -->
    <p>Please enter a new password</p>

    <!-- Password form -->
    <form class="form" [formGroup]="passwordForm" (ngSubmit)="onSubmit()" style="width: 100%;">
        <input [type]="this.showPasswords ? 'text' : 'password'" name="inputPassword" formControlName="password"
               class="bb-input-textfield"
               [class.bb-input-textfield-error]="submitted && passwordForm.controls.password.errors"
               id="inputPassword"
               aria-describedby="passwordHelp"
               placeholder="New Password">
        <div *ngIf="submitted && passwordForm.controls.password.errors" class="error">
          <small class="form-text text-danger" *ngIf="passwordForm.controls.password.errors.required">Password is required
          </small>
          <small class="form-text text-danger" *ngIf="passwordForm.controls.password.errors.minlength">Must be at least 8 characters
          </small>
        </div>

        <input [type]="this.showPasswords ? 'text' : 'password'" name="inputPasswordConfirm" formControlName="passwordConfirm"
               class="bb-input-textfield"
               [class.bb-input-textfield-error]="submitted && passwordForm.controls.passwordConfirm.errors"
               id="inputPasswordConfirm"
               aria-describedby="passwordConfirmHelp"
               placeholder="Confirm Password">
        <div *ngIf="submitted && passwordForm.controls.passwordConfirm.errors" class="error">
          <small class="form-text text-danger" *ngIf="passwordForm.controls.passwordConfirm.errors.required">Password is required
          </small>
          <small class="form-text text-danger" *ngIf="passwordForm.controls.passwordConfirm.errors.minlength">Must be at least 8 characters
          </small>
          <small class="form-text text-danger" *ngIf="passwordForm.controls.passwordConfirm.errors.mismatchedPasswords">Passwords not equal
          </small>
        </div>

        <label for="togglePasswordHide">
          <input type="checkbox" name="togglePasswordHide" (change)="togglePasswordHide()" id="togglePasswordHide">
          Show Password
        </label>

        <button type="submit" name="submitButton" class="bb-button-big">Reset Password</button>
    </form>
  </div>

  <!-- loading icon -->
  <div *ngIf="urlValid && requestSent && !requestSuccess" class="password-reset-container password-reset-container-centered">
    <img src="/assets/icons/loading.svg">
  </div>

  <!-- Success info -->
  <div *ngIf="urlValid && requestSuccess" class="password-reset-container">
    <!-- Header -->
    <span class="bb-dialog-box-header">Password Reset Success</span>

    <p>Your password has been reset successfully!</p>

    <button routerLink="/login" type="button" class="bb-button">Back to Login</button>
  </div>

</div>
