<!-- invalid url messages -->
<div *ngIf="!urlValid" class="password-reset-container">
  <!-- BACK BUTTON TODO: to login or better to request ? -->
  <a routerLink="/login" class="bb-back-route"><i class="bi-arrow-left"></i>Back to login</a>
  <div *ngIf="!requestIdValid">
    <h2 class="bb-dialog-box-header">Invalid Request</h2>
    <h4>Please request a login link</h4>
    <p>
      We are missing your request ID, so we can't identify you... sorry!<br>
      Please check the URL, otherwise please try again!
    </p>
  </div>

  <div *ngIf="!expDateValid && requestIdValid">
    <h2 class="bb-dialog-box-header">Request Expired</h2>
    <h4>Please request a login link</h4>
    <p>
      This password reset request expired at <strong>{{ this.expirationDate | date : 'dd.MM.yyyy hh:mm' }}</strong>
    </p>
  </div>
</div>
<!-- End invalid request -->
<!-- input form -->
<div *ngIf="urlValid && !requestSent" class="password-reset-container">
  <h2 class="bb-dialog-box-header">Reset Password</h2>
  <div class="row-cols-1 register-form">
    <h5>Please enter a new password</h5>
    <!-- Password form -->
    <form class="form" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="inputPassword" class="bb-transition-label"
               *ngIf="isInputFocused['password'] || passwordForm.get('password').value">Password</label>
        <input [type]="this.showPasswords ? 'text' : 'password'" name="inputPassword" formControlName="password"
               class="bb-input-textfield bb-input"
               [class.bb-input-textfield-error]="submitted && passwordForm.controls.password.errors"
               id="inputPassword"
               aria-describedby="passwordHelp"
               placeholder="New Password"
               (focus)="isInputFocused['password'] = true"
               (blur)="this.updateInputFocus('password')"
               [ngClass]="{'filled-input': passwordForm.get('password').value !== ''}"
               required >
        <div *ngIf="submitted && passwordForm.controls.password.errors" class="bb-input-error">
          <small class="form-text text-danger" *ngIf="passwordForm.controls.password.errors.required">
            Password is required
          </small>
          <small class="form-text text-danger" *ngIf="passwordForm.controls.password.errors.minlength">
            Must be at least 8 characters
          </small>
        </div>
        <!-- -->
      </div>

      <div class="form-group">
        <label for="inputPasswordConfirm" class="bb-transition-label"
               *ngIf="isInputFocused['passwordConfirm'] || passwordForm.get('passwordConfirm').value">Confirm Password</label>
        <div class="input-container">
          <input [type]="this.showPasswords ? 'text' : 'password'" name="inputPasswordConfirm" formControlName="passwordConfirm"
                 class="bb-input-textfield bb-input"
                 [class.bb-input-textfield-error]="submitted && passwordForm.controls.passwordConfirm.errors"
                 id="inputPasswordConfirm"
                 aria-describedby="passwordConfirmHelp"
                 placeholder="Confirm Password"
                 (focus)="isInputFocused['passwordConfirm'] = true"
                 (blur)="this.updateInputFocus('passwordConfirm')"
                 [ngClass]="{'filled-input': passwordForm.get('passwordConfirm').value !== ''}"
                 required >
          <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
            <i class="bi bi-eye">{{ showPasswords ? 'visibility_off' : 'visibility' }}</i>
          </button>
        </div>
        <div *ngIf="submitted && passwordForm.controls.passwordConfirm.errors" class="bb-input-error">
          <small class="form-text text-danger" *ngIf="passwordForm.controls.passwordConfirm.errors.required">
            Password is required
          </small>
          <small class="form-text text-danger" *ngIf="passwordForm.controls.passwordConfirm.errors.minlength">
            Must be at least 8 characters
          </small>
          <small class="form-text text-danger" *ngIf="passwordForm.controls.passwordConfirm.errors.mismatchedPasswords">
            Passwords does not match
          </small>
        </div>
      </div>
      <button type="submit" name="submitButton" class="button-full bb-form-button">Save</button>
    </form>
  </div>
</div>
<!-- loading icon -->
<div *ngIf="urlValid && requestSent && !requestSuccess" class="password-reset-container password-reset-container-centered">
  <img src="/assets/icons/loading.svg">
</div>

<!-- Success info -->
<div *ngIf="urlValid && requestSuccess" class="password-reset-container">
  <h2 class="bb-dialog-box-header">Password Reset Success</h2>
  <div class="row-cols-1 register-form">
    <h5> Your password has been reset successfully!</h5>
    <button routerLink="/login" type="button" class="button-full bb-form-button">Go to Login</button>
  </div>
</div>
