.password-reset-container {

}

.password-reset-container-centered {
  align-content: center;
  align-items: center;
  text-align: center;
}

input, button {
  margin-top: 1.2rem;
  margin-bottom: 0;
}

p {
  width: fit-content;
}

img {
  position: relative;

  margin: 2rem 0;

  width: 40%;
  max-width: 180px;

  align-self: center;
}
