<nav class="navbar navbar-expand-lg">
  <div class="container-fluid header">
    <div class="left">
      <div class="text-wrapper">Bite-Buddy</div>
      <div class="buttons-group">
        <div class="menu-item"><div class="div">Products</div></div>
        <div class="menu-item"><div class="div">Solutions</div></div>
        <div class="menu-item"><div class="div">Services</div></div>
        <div class="menu-item"><div class="div">Configure</div></div>
      </div>
    </div>
    <div class="buttons-group-2 button-header">
      <button class="button-transparent glassy-background button-login" routerLink="/login">
        <div class="text-container">
          <span class="button-text">Login</span>
        </div>
      </button>
      <button class="button-full button-signup" routerLink="/register">
        <div class="text-container">
          <span class="text-inside-btn">
            Sign up
            <i class="bi bi-arrow-right"></i>
          </span>
        </div>
      </button>
    </div>
  </div>
</nav>
