<div class="pt-5">
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">

      <div class="bb-card">
        <div style="padding: 0.8rem;">

          <div *ngIf="!requestSent" class="bb-request-reset-box">
            <header>Password Reset</header>

            <p>
              <strong>Please enter the email of your account.</strong><br><br>
              If an account exist, an email with further instructions will be sent to you.
            </p>

            <form class="form" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
              <div style="width: 100%; max-width: 20rem;">
                <input type="text" name="email" formControlName="email"
                       class="bb-input-textfield"
                       [class.bb-input-textfield-error]="submitted && emailForm.controls.email.errors"
                       id="inputEmail"
                       aria-describedby="emailHelp"
                       placeholder="Enter Email">
                <div *ngIf="submitted && emailForm.controls.email.errors" class="error">
                  <small class="form-text text-danger" style='text-align: start; display: block; width: 100%;' *ngIf="emailForm.controls.email.errors.required">Email is required
                  </small>
                  <small class="form-text text-danger" style="text-align: start; display: block; width: 100%;" *ngIf="emailForm.controls.email.errors.email">Not a valid email
                  </small>
                </div>

                <button type="button" name="loginButton" (click)="onSubmit()" class="bb-button-big">Send Reset Link</button>
              </div>
            </form>
          </div>

          <div *ngIf="requestSuccess" class="bb-request-reset-box">
            <header>Password Reset Requested</header>

            <img src="/assets/icons/email_sent.svg">

            <p style="text-align: center;">
              A password reset link will be sent to your email account. <br><br>
              If you did not receive it, check your spam folder or try again in a few minutes.
              The reset link is valid for 24 hours.
            </p>
          </div>

          <div *ngIf="requestError" class="bb-request-reset-box">
            <header>Something went wrong!</header>

            <p *ngIf="errorMessage != null" style="text-align: center;">
              We could not request a password reset link for {{ email }}. Please try again later!
            </p>
            <p *ngIf="errorMessage == null" style="text-align: center;">
              We could not request a password reset link for {{ email }}. Please try again later!
            </p>

            <button class="bb-button-big" routerLink="/login">Back To Login</button>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
