<div class="section"> <!-- Added container-fluid for full-width responsiveness -->
  <img class="vector img-fluid" src="assets/landing-cover.png" alt="Vector Image" />
  <div class="container row"> <!-- Added row for Bootstrap grid system -->
    <div class="col-lg-6"> <!-- Adjusted column size for larger screens -->
      <div class="section-text">
        <div class="top">
          <div class="flexcontainer">
            <p class="text-i">
              <span class="text-wrapper">Get your weekly Meal planner in <br /></span>
            </p>
            <p class="text-i"><span class="text-wrapper">a second</span></p>
          </div>
        </div>
        <p class="paragraph">
          Tell us what you enjoy eating and we make the rest<br />what is left? To go to the store!<br />Al resto ci
          pensiamo noi
        </p>
        <div class="buttons-group">
          <button class="btn btn-primary">
            <div class="text-container">
              <button class="button-text">Learn more</button>
            </div>
            <img class="icon-jam-icons" src="img/arrow-right.svg" alt="Arrow Icon" />
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-6"> <!-- Added a column for larger screens -->
      <div class="right"><div class="ellipse"></div></div>
      <div class="div"></div>
    </div>
  </div>
</div>
<!-- End of section -->
<div class="div">
  <div class="div-2 circle"></div>
  <div class="div-3">No more waste</div>
  <div class="div-4">Pick Bite-Buddy</div>
  <div class="div-5">
    Set your preferences, allergies and what you still have at home, select
    the week et voila\`.
    <br />
    Bite-buddy create your weekly meal planner and the grocery list ready
    for you.
    <br />
    Do you have guest? Don’t worry, you can set the number of persons it
    will automatically update everything
  </div>
  <div class="div-6">
    <div class="div-7">
      <div class="column">
        <div class="div-8">
          <div class="div-9">
            <div class="column">
              <div class="div-10">
                <div class="div-11">Create an account</div>
                <div class="div-12">
                  Posuere quis sed mauris non curabitur pretium elementum
                  eget. Feugiat sed maecenas eu accumsan tristique.
                </div>
              </div>
            </div>
            <div class="column-2">
              <div class="div-13">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/5b796b738a9dc17d7777b96335bba7e589ebfb7f10dc3bb0c97670e1330ae44e?"
                  class="img"
                />
                <div class="div-14">Generate the weerkly meal planner</div>
                <div class="div-15">
                  Sit bibendum donec dolor fames neque vulputate non sit
                  aliquam. Consequat turpis natoque leo, massa.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column-3">
        <div class="div-16">
          <div class="div-17">
            <div class="column">
              <div class="div-18">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/bb8626679739b6435e8b1c680750d278ec292fde38e0a3ed142ef9992d1c2373?"
                  class="img"
                />
                <div class="div-19">Go to grocery</div>
                <div class="div-20">
                  Platea arcu dapibus non magna cursus lectus id
                  sollicitudin. Enim viverra parturient tristique nulla.
                </div>
              </div>
            </div>
            <div class="column-4">
              <div class="div-21">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/7ab2655ad9351bd5bfa3d6d164169dbf399309a0a680e5dabae13d651c05b1f8?"
                  class="img"
                />
                <div class="div-22">Save time & money</div>
                <div class="div-23">
                  Congue mauris sem vel, urna viverra. Urna, nibh leo
                  suscipit purus ut sed eros, consectetur viverra.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of section 2: features -->
<!-- app.component.html -->

<div class="div-recipe">
  <div class="div-recipe-2">
    <div class="div-recipe-3">No more waste</div>
    <div class="div-recipe-4">Discover delicious recipes</div>
    <div class="div-recipe-5">
      Discover over 300 recipes from all over the world...
      <br />
      Maybe today is your mexican dinner night or you want to eat italian
      like this summer?
      <br />
      Bite-Buddy let you search, save and share your favorite recipes
    </div>
    <div class="div-recipe-6">
      <div class="div-recipe-7">
        <img
          loading="lazy"
          srcset="..."
          class="img"
        />
        <img
          loading="lazy"
          srcset="..."
          class="img-2"
        />
        <img
          loading="lazy"
          srcset="..."
          class="img-3"
        />
        <img
          loading="lazy"
          srcset="..."
          class="img-4"
        />
        <img
          loading="lazy"
          srcset="..."
          class="img-5"
        />
        <img
          loading="lazy"
          srcset="..."
          class="img-6"
        />
      </div>
      <div class="div-8">
        <img
          loading="lazy"
          srcset="..."
          class="img-7"
        />
        <img
          loading="lazy"
          srcset="..."
          class="img-8"
        />
        <img
          loading="lazy"
          srcset="..."
          class="img-9"
        />
        <img
          loading="lazy"
          srcset="..."
          class="img-10"
        />
        <img
          loading="lazy"
          srcset="..."
          class="img-11"
        />
        <img
          loading="lazy"
          srcset="..."
          class="img-12"
        />
      </div>
      <div class="div-9">
        <img
          loading="lazy"
          srcset="..."
          class="img"
        />
        <img
          loading="lazy"
          srcset="..."
          class="img-13"
        />
        <img
          loading="lazy"
          srcset="..."
          class="img-14"
        />
        <img
          loading="lazy"
          srcset="..."
          class="img-15"
        />
        <img
          loading="lazy"
          srcset="..."
          class="img-16"
        />
        <img
          loading="lazy"
          srcset="..."
          class="img-17"
        />
      </div>
    </div>
  </div>
</div>
<!-- End of section 3: recipes -->
<!-- app.component.html -->
<div class="div-community-">
  <div class="div-community-2">
    <div class="column-community">
      <img
        loading="lazy"
        srcset="..."
        class="img-community"
      />
    </div>
    <div class="column-community-2">
      <div class="div-community-3">
        <div class="div-community-4">
          Ready to be part of the Bite-Buddy Community?
        </div>
        <div class="div-community-5">
          Create an account or just login in and be ready to be part of
          <br />
          the most delicious community!
        </div>
        <div class="div-community-6">
          <div class="div-community-7">Login</div>
          <div class="div-community-8">
            <div class="div-community-9">
                  <span
                    style="
                          font-family: Roboto, -apple-system, Roboto, Helvetica,
                            sans-serif;
                        "
                  >
                    Sign up
                  </span>
              <span
                style="
                          font-family: Jost, -apple-system, Roboto, Helvetica,
                            sans-serif;
                        "
              ></span>
              <span
                style="
                          font-family: Roboto, -apple-system, Roboto, Helvetica,
                            sans-serif;
                        "
              >
                    for free
                  </span>
            </div>
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/982b53a055e7157ee6b2f29783725afc1fdc94f8aff4f8772dff768cbeecfd4f?"
              class="img-community-2"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of section 4: community -->
