.bb-dialog-layout-container {
  margin-top: 5%;
  margin-left: 35%;
  margin-bottom: 10%;
  position: fixed; /* Responsive */
  width: 50%;
  background-color: white;
  box-shadow: rgba(0,0,0, 0.15) 1px 1px 10px;
  border-radius: 35px;
  max-width: 30%;
  word-wrap: break-word;
}

.form-group {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 15%;

  width: 70%;
  height: fit-content;
}

.bb-dialog-box-header {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-left: 15%;
  margin-top: 22% !important;
  margin-bottom: 10%;
}
