<div *ngIf="error" class="bb-message-box bb-message-box-error">
  {{ errorMessage }}
</div>

<div style="padding: 0.8rem;">
  <div class="bb-login-box">
    <header>Change User Settings</header>
    <div class="user-nickname">
      <h5 class="nickname">For User: {{originalUserSettings?.nickname}}</h5>
    </div>
    <form class="form" [formGroup]="settingsForm" (ngSubmit)="updateUserSettings()">

      <div class="form-group">
        <input type="email" name="email" formControlName="email"
               class="bb-input-textfield"
               [class.bb-input-textfield-error]="submitted && settingsForm.controls.email.errors"
               id="inputEmail"
               placeholder="Email">

        <div *ngIf="submitted && settingsForm.controls.email.errors" class="error">
          <small class="form-text text-danger" *ngIf="settingsForm.controls.email.errors.required">
            Email is required.
          </small>
          <small class="form-text text-danger" *ngIf="settingsForm.controls.email.errors.email">
            Not a valid email.
          </small>
        </div>
      </div>


      <div class="form-group">
        <input type="password" name="currentPassword" formControlName="currentPassword"
               class="bb-input-textfield"
               [class.bb-input-textfield-error]="submitted && settingsForm.controls.currentPassword.errors"
               id="currentPassword"
               placeholder="Current Password">
        <!-- Current Password Error Messages -->
      </div>

      <button type="button" (click)="updateUserSettings()" class="bb-button-big">Save</button>

    </form>
  </div>
</div>
