.setting-header {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-top: 16% !important;
  margin-bottom: 15%;
}

.register-form {
  margin-top: 20%;
  margin-bottom: 20%;
}

.filled-input {
  color: black;
}

.input-error-general {
  margin-top: 5%;
}

.bb-form-button {
  margin-top: 30%;
}

.input-cpassword {
  margin-top: 3%;
}

