<div style="margin: 20px;">
  <h1>GENERATE MENU PLAN</h1>

  <form>
    <select name="profileDropdown">
      <option value="1">Profile 1</option>
    </select>
    <br>
    FROM: <input type="date" id="fromDate" name="fromDate" [(ngModel)]="fromDate">
    UNTIL: <input type="date" id="untilDate" name="untilDate" [(ngModel)]="untilDate">
    <br><br>
    <button (click)="onClickGenerate()">Generate Menu Plan</button>
  </form>

  <!-- Adding ingredients -->
  <div class="row mb-3">
    <div class="col-3 mx-2">
      <app-autocomplete
        #ingredientInput
        id="ingredients"
        name="ingredients"
        class="rounded-pill"
        textInputClass="input"
        valueNeedsToMatchSuggestion="true"
        [(ngModel)]="ingredient"
        [formatModel]="formatIngredient"
        [suggestions]="ingredientSuggestions"
      ></app-autocomplete>
    </div>
    <div class="col-3">
      <button (click)="addIngredientToFridge(ingredientInput)" class="btn btn-success rounded-pill">
        <i class="bi-plus-square"></i>
        Add Ingredient</button>
    </div>
    <br>
    <table *ngIf="createDto.fridge.length > 0">
      <thead>
      <tr>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ingredient of createDto.fridge">
        <td>{{ingredient}}</td>
      </tr>
      </tbody>
    </table>
    <br>
  </div>

  <br><br>

  <div *ngIf="generateRequest !== undefined">
    <p><b>REQUEST:</b></p>
    <p [innerHTML]="generateRequest"></p>
  </div>

  <br><br>

  <div *ngIf="generateResponse !== undefined">
    <p><b>RESPONSE:</b></p>
    <p [innerHTML]="generateResponse"></p>
  </div>

</div>
