<div style="margin: 20px;">
  <h1>GENERATE MENU PLAN</h1>

  <form>
    <select name="profileDropdown" [(ngModel)]="selectedProfile">
      <option *ngFor="let profile of userProfiles" [value]="profile.id">{{ profile.name }}</option>
    </select>
    <br>
    FROM: <input type="date" id="fromDate" name="fromDate" [(ngModel)]="fromDate">
    UNTIL: <input type="date" id="untilDate" name="untilDate" [(ngModel)]="untilDate">
    <br><br>
    <button (click)="onClickGenerate()">Generate Menu Plan</button>
  </form>

  <div class="container-fluid justify-content-center align-items-center">
    <div class="col-3">
      <div class="card">
        <div class="card-header" style="text-align: center; font-weight: bolder">Fridge</div>
        <div class="card-body">
          <div class="row">
            <div class="col mx-2">
              <app-autocomplete
                #ingredientInput
                id="ingredients"
                name="ingredients"
                class="rounded-pill"
                textInputClass="input"
                valueNeedsToMatchSuggestion="true"
                [(ngModel)]="ingredient"
                [formatModel]="formatIngredient"
                [suggestions]="ingredientSuggestions"
              ></app-autocomplete>
            </div>
            <div class="col">
              <button (click)="addIngredientToFridge(ingredientInput)" class="btn btn-success rounded-pill btn-sm">
                <i class="bi-plus-square"></i>
                Add
              </button>
            </div>
          </div>

          <div class="row" *ngIf="createDto.fridge.length > 0">
            <table class="table">
              <thead>
              <tr>
                <th>Name</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let ingredient of createDto.fridge">
                <td>{{ formatIngredient(ingredient) }}</td>
                <td><i class="bi bi-x-circle" (click)="removeIngredient(ingredient)" style="color:red"></i></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br><br>

  <div *ngIf="generateRequest !== undefined">
    <p><b>REQUEST:</b></p>
    <p [innerHTML]="generateRequest"></p>
  </div>

  <br><br>

  <div *ngIf="generateResponse !== undefined">
    <p><b>RESPONSE:</b></p>
    <p [innerHTML]="generateResponse"></p>
  </div>

</div>
