<div *ngIf="authenticationError" class="alert alert-danger alert-dismissible fade show" role="alert">
  <button type="button" (click)="vanishAuthenticationError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Could not log in: </strong> {{authenticationErrorMessage}}
</div>

<div class="pt-5">
<div class="row">
  <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">

    <div class="bitebuddy-card">
      <div class="bitebuddy-login-box">
        <header>BiteBuddy - Login</header>

        <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">

          <div class="form-group">
            <input type="text" name="email" formControlName="email" class="bitebuddy-input-textfield" id="inputEmail"
                   aria-describedby="emailHelp" placeholder="Enter Email">
            <div *ngIf="submitted && loginForm.controls.email.errors" class="error">
              <small class="form-text text-danger" *ngIf="loginForm.controls.email.errors.required">Email is required
              </small>
              <small class="form-text text-danger" *ngIf="loginForm.controls.email.errors.email">Not a valid email
              </small>
            </div>
          </div>

          <div class="form-group">
            <input type="password" name="password" formControlName="password" class="bitebuddy-input-textfield" id="password"
                   placeholder="Password">
            <div *ngIf="submitted && loginForm.controls.password.errors" class="error">
              <small class="form-text text-danger" *ngIf="loginForm.controls.password.errors.required">Password is required
              </small>
            </div>
          </div>

          <button type="button" name="loginButton" (click)="onSubmitLogin()" class="bitebuddy-button-big">Login</button>

        </form>
      </div>
    </div>

  </div>
</div>
</div>
