.bitebuddy-login-box {
  font-size: 1rem;

  padding: 0px 10px 5px 15px;

}

.bitebuddy-login-box header, input, button {
  margin-top: 1.5rem;
}

.bitebuddy-login-box header {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: bold;
}
