<main>
  <div class="section">
    <img class="vector img-fluid" src="../../../assets/images/landing-page/landing-cover.png" alt="Vector Image"/>
    <div class="row full-height">
      <div class="col-lg-6">
        <div class="section-text">
          <div class="top">
            <div class="flexcontainer">
              <p class="text-i">
                <span class="text-wrapper">Get your weekly Meal planner in <br/></span>
              </p>
              <p class="text-i"><span class="text-wrapper">a second</span></p>
            </div>
          </div>
          <p class="paragraph">
            Tell us what you enjoy eating and we make the rest<br/>what is left? To go to the store!<br/>Al resto ci
            pensiamo noi
          </p>
          <button class="button-full button-longtext">
            <div class="text-container">
            <span class="button-text">
              Learn more
              <i class="bi bi-arrow-right"></i>
            </span>
            </div>
          </button>
        </div>
      </div>
      <div class="col-lg-6 col-md-4 col-sm-6 col-xl-6"> <!-- Added a column for larger screens -->
        <div class="right">
          <div class="ellipse"></div>
        </div>
        <div class="div"></div>
      </div>
    </div>
  </div>
  <!-- End of section -->
  <div class="div full-height">
    <div class="div-2 circle"></div>
    <div class="div-3">No more waste</div>
    <div class="div-4">Pick Bite-Buddy</div>
    <div class="div-5">
      Set your preferences, allergies and what you still have at home, select
      the week et voila'.
      <br/>
      Bite-buddy create your weekly meal planner and the grocery list ready
      for you.
      <br/>
      Do you have guest? Don’t worry, you can set the number of persons it
      will automatically update everything
    </div>
    <div class="div-6">
      <div class="container-fluid mt-5">
        <div class="row">
          <div class="col-md-3 mb-4 images-row-section">
            <img loading="eager" src="../../../assets/images/landing-page/account.jpg"
                 class="img-fluid img-features-grid" alt="Image create account">
            <h5>Create an account</h5>
            <p>Posuere quis sed mauris non curabitur pretium elementum
              eget. Feugiat sed maecenas eu accumsan tristique.</p>
          </div>
          <div class="col-md-3 mb-4 images-row-section">
            <img loading="eager" src="../../../assets/images/landing-page/meal.jpg" class="img-fluid img-features-grid"
                 alt="Image meal planner">
            <h5>Generate your weekly meal planner</h5>
            <p>Posuere quis sed mauris non curabitur pretium elementum
              eget. Feugiat sed maecenas eu accumsan tristique.</p>
          </div>
          <div class="col-md-3 mb-4 images-row-section">
            <img loading="eager" src="../../../assets/images/landing-page/grocery_shopping.jpg"
                 class="img-fluid img-features-grid" alt="Image grocery">
            <h5>Go to grocery</h5>
            <p>Platea arcu dapibus non magna cursus lectus id
              sollicitudin. Enim viverra parturient tristique nulla.</p>
          </div>
          <div class="col-md-3 mb-4 images-row-section">
            <img loading="eager" src="../../../assets/images/landing-page/save_money.jpg"
                 class="img-fluid img-features-grid" alt="Image save money">
            <h5>Save time & money</h5>
            <p> Congue mauris sem vel, urna viverra. Urna, nibh leo
              suscipit purus ut sed eros, consectetur viverra.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End of section 2: recipe features -->
    <div class="div-recipe full-height">
      <div class="div-recipe-2">
        <div class="div-recipe-3">No more waste</div>
        <div class="div-recipe-4">Discover delicious recipes</div>
        <div class="div-recipe-5">
          Discover over 300 recipes from all over the world...
          <br/>
          Maybe today is your mexican dinner night or you want to eat italian
          like this summer?
          <br/>
          Bite-Buddy let you search, save and share your favorite recipes
        </div>
        <div class="div full-height container-fluid">
          <img
            loading="lazy"
            src="../../../assets/images/landing-page/recipes_grid.png"
            class="img-recipes-grid img-fluid"
          />
          <div class="circle community-circle"></div>
        </div>
      </div>
    </div>
    <!-- End of section 3: recipes -->
    <!-- app.component.html -->
    <div class="div-community full-height">
      <div class="div-community-2">
        <div class="column-community">
          <img loading="lazy"
               src="../../../assets/images/landing-page/community_circles.png"
               class="img-community img-fluid"
          />
        </div>
        <div class="column-community-2">
          <div class="div-community-3">
            <div class="div-community-4">
              Ready to be part of the Bite-Buddy Community?
            </div>
            <div class="div-community-5">
              Create an account or just login in and be ready to be part of
              <br/>
              the most delicious community!
            </div>
            <div class="div-community-6">
              <div class="buttons-group-2">
                <button class="button-transparent button-login" routerLink="/login">
                  <div class="text-container">
                    <span class="button-text">Login</span>
                  </div>
                </button>
                <button class="button-full button-signup" routerLink="/register">
                  <div class="button-text-wrapper">
          <span class="text-inside-btn">
            Sign up for free
            <i class="bi bi-arrow-right"></i>
          </span>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- End of section 4: community -->
