/* You can add global styles to this file, and also import other style files */

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Jost:300,500,400,700|Roboto:400|Open+Sans:400");

:root {
  --app-background-color: rgb(241, 241, 221);

  --app-header-text-color: rgba(15,23,42);

  --button-background-color: rgba(80, 50, 5, 1);
  --button-background-color-hover: rgba(60, 30, 4, 1);
  --button-color: whitesmoke;

  --button-danger-background-color: rgba(200, 0, 0, 1);
  --button-danger-background-color-hover: rgba(150, 0, 0, 1);

  --input-field-background-color: rgba(0, 0, 0, 0.04);
  --input-field-background-color-error: rgba(200, 0, 0, 0.14);

  --link-color: rgba(50, 50, 50, 1);
  --link-color-hover: rgba(200, 150, 0, 1);

  --settings-navbar-link-color: rgba(100, 100, 100, 1);
  --settings-navbar-link-color-hover: rgba(200, 150, 0, 1);
  --settings-navbar-link-color-active: rgba(0, 0, 0, 1);
  --settings-navbar-link-background-color-active: rgba(160, 100, 20, 0.2);

  -webkit-font-smoothing: antialiased;
}

* {
  user-select: none;
}

body::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: green;
}

body {
  background: var(--app-background-color) url(/assets/images/background.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Jost-Regular', sans-serif !important;
}

h1, h2, h3, h4 {
  font-family: 'Jost-Medium', sans-serif !important;
  color: var(--button-background-color) !important;
}

.header {
  color: var(--app-header-text-color);
}

.button-transparent {
  background-color: rgba(255, 255, 255, 0); /* Fully transparent */
  display: flex;
  width: 150px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid #594338;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.07), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
}

.button-full {
  background-color: var(--button-background-color);
  display: flex;
  width: 150px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid #594338;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.07), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
}

.button-full:hover {
  background-color: var(--button-background-color-hover);
}

.bb-selectable {
  user-select: text;
}

.bb-link {
  color: var(--button-background-color);
  text-decoration: none;
  cursor: pointer;
}

.bb-link:hover {
  color: var(--button-background-color-hover);
  text-decoration: underline;
}

.bb-back-route {
  color: var(--button-background-color-hover);
  text-decoration: none;
  cursor: pointer;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 100px !important;
}

.bb-back-route:hover {
  color: var(--button-background-color-hover);
  text-decoration: underline;
}

.bb-card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;

  background-color: whitesmoke;

  padding: 30px;

  border: none;
  border-radius: 14px;

  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 10px;
}

.bb-input-textfield {
  //display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;

  font-size: 1rem;
  line-height: 1.5;

  border: none;
  border-bottom: lightgray solid 2px;
  border-radius: 0;

  background-color: var(--input-field-background-color);
}

.bb-input-textfield:focus {
  background-color: ghostwhite;
}

.bb-input-textfield-error {
  background-color: var(--input-field-background-color-error);
}

.bb-button {
  display: inline-block;

  background-color: var(--button-background-color);
  color: var(--button-color);

  padding: 0.5rem 1.2rem;

  border: none;
  border-radius: 4px;

  text-decoration: none;
  text-align: center;
  vertical-align: middle;

  cursor: pointer;
  user-select: none;
}

.bb-button:hover {
  background-color: var(--button-background-color-hover);
}

.bb-button-big {
  display: inline-block;
  width: 100%;

  background-color: var(--button-background-color);
  color: var(--button-color);

  padding: 0.5rem 10px;

  border: none;
  border-radius: 4px;

  text-decoration: none;
  text-align: center;
  vertical-align: middle;

  cursor: pointer;
  user-select: none;
}

.bb-button-big:hover {
  background-color: var(--button-background-color-hover)
}

.bb-button-danger {
  background-color: var(--button-danger-background-color);
}

.bb-button-danger:hover {
  background-color: var(--button-danger-background-color-hover);
}

.bb-message-box {
  margin: 1rem 0rem;
  padding: 1rem;

  border: none;
  border-radius: 4px;
}

.bb-message-box-error {
  border: red solid 2px;
  background-color: rgba(250, 40, 20, 0.5);
}


.bb-settings-box header {
  font-weight: bold;
  font-size: 1.8rem;
}

.bb-settings-box {
  font-size: 1rem;
}

.bb-settings-box label {
  margin-top: 1.5rem;
}

.bb-settings-box input {
  margin-top: 1.0rem;
  max-width: 25.0rem;
}

.bb-settings-box button {
  margin-top: 1.5rem;
}

.bb-transition-label {
  position: relative;
  color: var(--button-background-color);
  transition: transform 0.2s ease-out, font-size 0.2s ease-out, color 0.2s ease-out;
}

.bb-input-error {
  margin-top: -6%;
  margin-bottom: 3%;
  margin-left: 2%;
}

.bb-input {
  margin-top: 0.6%;
  margin-bottom: 8%;
  background-color: white;
  color: rgba(0, 0, 0, 0.30);
}

.bb-form-button {
  color: white;
  width: 100%;
  margin-top: 0.6%;
  margin-top: 8%;
}

.bb-title {
  color: #594338;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-top: 12%;
  margin-left: 15%;
}

.bb-text-under-button {
  margin-top: 8%;
  color: rgba(0, 0, 0, 0.30);
}

/* Important for putting the icon inside the input */
.bb-input-container {
  position: relative;
}

.bb-toggle-password {
  display: inline-block;
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.bi-eye, .bi-eye-slash {
  font-size: 1.8em;
  color: lightgray;
}
