<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand header text-header" href="/dashboard">Bite-Buddy</a>

    <!-- Navbar Toggler Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Main Navbar Items -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <!-- Main Navbar Item with Down Icon -->
        <li class="nav-item">
          <a class="nav-link bb-link" (click)="toggleSecondaryNavbar('recipes')">
            Recipes
            <i [ngClass]="{'bi bi-chevron-down': !showSecondaryNavbar['recipes'], 'bi bi-chevron-up': showSecondaryNavbar['recipes']}"></i>
          </a>
          <!-- Secondary Navbar (Initially Hidden) -->
          <div *ngIf="showSecondaryNavbar['recipes']" class="secondary-navbar glassy-background">
            <a class="nav-link bb-link first-item" href="#">Discover recipes</a>
            <a class="nav-link bb-link" href="#">History</a>
          </div>
        </li>
        <!-- Main Navbar Item with Down Icon (Profiles) -->
        <li class="nav-item">
          <a class="nav-link bb-link" (click)="toggleSecondaryNavbar('profiles')">
            Profiles
            <i [ngClass]="{'bi bi-chevron-down': !showSecondaryNavbar['profiles'], 'bi bi-chevron-up': showSecondaryNavbar['profiles']}"></i>
          </a>
          <!-- Secondary Navbar for Profiles (Initially Hidden) -->
          <div *ngIf="showSecondaryNavbar['profiles']" class="secondary-navbar glassy-background">
            <a class="nav-link bb-link first-item" href="#">My Profile</a>
            <a class="nav-link bb-link" href="#">Discover profiles</a>
          </div>
        </li>
        <!-- Other Main Navbar Items -->
        <li class="nav-item">
          <a class="nav-link bb-link">Grocery List</a>
        </li>
      </ul>

      <!-- User Information with dropdown-->
      <div class="nav-item dropdown ms-auto d-flex align-items-center bb-link">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
          <span class="me-2">Hello {{this.accountUsername}} </span>
          <img [src]="safePictureUrl" alt="Profile Picture" class="rounded-circle img-profile">
        </a>
        <!-- Dropdown Menu for User Profile -->
        <div class="dropdown-menu dropdown-menu-end glassy-background">
          <a class="dropdown-item bb-link" (click)="onClickSettings()">
              <span class="bb-text-inside-btn-transp">
                <i class="bi bi-gear"></i>
                Settings
              </span>
          </a>
          <a class="dropdown-item bb-link" (click)="onClickLogout()">
              <span class="bb-text-inside-btn-transp">
                <i class="bi bi-box-arrow-left"></i>
                Logout
              </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
