<h1>Inventory for current menu plan</h1>

<main>
  <div class="container-fluid">
    <div class="row mx-2">
      <div class="col-lg-auto">
        <!-- Table of ingredients which are not already bought -->
        <!-- TODO Maybe use 2 cols, otherwise the list is very long ... -->
        <div class="card">
          <div class="card-header mx-2" style="text-align: center">
            <b>{{inventory.missing?.length}} ingredients missing for recipes</b>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <!-- one col table -->
                <table *ngIf="inventory.missing?.length > 0" class="table">
                  <thead>
                  <tr>
                    <th>Ingredient</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let inv of inventory.missing | slice:0:Math.min(inventory.missing.length, maxRows)"
                      class="center-td">
                    <td><i *ngIf="inv.inventoryStatus === false" class="bi bi-square mx-2"
                           (click)="markAsChecked(inv)"></i>
                    </td>
                    <td>{{ formatInventoryIngredient(inv) }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- adding second if we have more than maxRows -->
              <div class="col" *ngIf="inventory.missing?.length > maxRows">
                <table class="table">
                  <thead>
                  <tr><th>Ingredient</th></tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let inv of inventory.missing | slice:maxRows:inventory.missing.length" class="center-td">
                    <td><i *ngIf="inv.inventoryStatus === false" class="bi bi-square mx-2"
                           (click)="markAsChecked(inv)"></i>
                    </td>
                    <td>{{ formatInventoryIngredient(inv) }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-auto">
        <!-- Table of ingredients which are already bought -->
        <div *ngIf="inventory.available?.length > 0" class="card">
          <div class="card-header" style="align-content: center">
            <b>{{inventory.available?.length}} Already bought for recipes</b>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <!-- one col table -->
                <table *ngIf="inventory.available?.length > 0" class="table">
                  <thead>
                  <tr>
                    <th>Ingredient</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let inv of inventory.available | slice:0:Math.min(inventory.available.length, maxRowsAvailable)"
                      class="center-td">
                    <td><i *ngIf="inv.inventoryStatus === true" class="bi bi-check-square mx-2"
                           (click)="markAsUnchecked(inv)"></i>
                    </td>
                    <td>{{ formatInventoryIngredient(inv) }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>

              <!-- adding second if we have more than maxRows -->
              <div class="col" *ngIf="inventory.available?.length > maxRowsAvailable">
                <table class="table">
                  <thead>
                  <tr><th>Ingredient</th></tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let inv of inventory.available | slice:maxRowsAvailable:inventory.available.length" class="center-td">
                    <td><i *ngIf="inv.inventoryStatus === true" class="bi bi-check-square mx-2"
                           (click)="markAsUnchecked(inv)"></i>
                    </td>
                    <td>{{ formatInventoryIngredient(inv) }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
