<div class="container-fluid">
  <h1 class="bb-dialog-box-header mb-4">{{ title }}</h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row mt-2">
      <div class="row">
        <label for="name" class="col-form-label text-md-start text-muted">
          Profile name
          <span class="required-asterisk">*</span>
        </label>
        <input type="text" name="name" formControlName="name"
               class="bb-input-textfield form-control"
               id="name"
               aria-describedby="nameHelp"
               value ={{previousProfileDetails.name}}
               required
        >
      </div>
    </div>
    <div class="row mt-2">
      <div class="row">
        <label for="allergens" class="col-form-label text-md-start text-muted">
          What do you cannot or do not want to eat?
          <span class="required-asterisk">*</span>
        </label>
        <select multiple class="form-select"
                id = "allergens"
                formControlName="allergens"
                required
                [(ngModel)]="previousProfileDetails.allergens">
          <option *ngFor="let allergene of allergens"
                  [value]="allergene">
          {{allergene.name}}
          </option>

        </select>
        <div class="invalid-feedback">
          Please select at least one allergene.
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="row">
        <label for="ingredient" class="col-form-label text-md-start text-muted">
          What do you like to eat?
          <span class="required-asterisk">*</span>
        </label>
        <select multiple class="form-select"
                id ="ingredient"
                formControlName="ingredient"
                required>
          <option *ngFor="let ingred of ingredient"
                  [value]="ingred" >
            {{ingred.name}}
          </option>
        </select>
        <div class="invalid-feedback">
          Please select at least one ingredient.
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <button type="submit"
              class="bb-button-big flex-grow-1"
              [disabled]="!form.valid"
      >
        Start
      </button>
    </div>
  </form>
</div>
