<main>
  <div class="container-fluid">
    <h1 class="bb-dialog-box-header mb-4">{{ title }}</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name" class="bb-transition-label"
               *ngIf="isInputFocused['name'] || form.get('name').value">Profile name
        </label>
        <input type="text" name="name" formControlName="name"
               class="bb-input-textfield bb-input"
               [class.bb-input-textfield-error]="submitted && form.controls.name.errors"
               id="name"
               value={{previousProfileDetails.name}}
               (focus)="isInputFocused['name'] = true"
               (blur)="this.updateInputFocus('name')"
               [ngClass]="{'filled-input': form.get('name').value !== ''}"
               required
        >
        <div *ngIf="submitted && form.controls.name.errors" class="bb-input-error">
          <small class="form-text text-danger" *ngIf="form.controls.name.errors.required">
            Profile name is required
          </small>
          <small class="form-text text-danger" *ngIf="form.controls.name.errors.profileNameGiven">
            Profile name already given, please choose another profile name.
          </small>
          <small class="form-text text-danger" *ngIf="form.controls.name.errors.maxLength">
            Profile name too long, please choose a profile name max. 255 characters long.
          </small>
          <small class="form-text text-danger" *ngIf="form.controls.name.errors.minLength">
            Profile name too short, please enter a name at least 3 characters long.
          </small>
        </div>
      </div>

      <div class="form-group label-select">
        <label for="inputAllergens" class="label-select" *ngIf="changedAllergenes; else unchangedAllergens">
          What do you cannot or do not want to eat?
        </label>
        <ng-template #unchangedAllergens><label for="inputAllergens" class="label-select">
          Select new Allergens if change is needed!
        </label></ng-template>
        <select multiple class="form-select"
                aria-label="Select Allergens"
                id="inputAllergens"
                formControlName="allergens"
                (change)="onChangeAllergenes()">
          <option *ngFor="let allergene of allergens"
                  [value]="allergene">
            {{allergene.name}}
          </option>
        </select>
      </div>


      <div class="form-group">
        <label for="inputIngredient" class="label-select" *ngIf="changedIngredients; else unchangedIngredients">
          What do you like to eat?
        </label>
        <ng-template #unchangedIngredients><label for="inputAllergens" class="label-select">
          Select new Ingredients if change is needed!
        </label></ng-template>
        <select multiple class="form-select"
                id="inputIngredient"
                formControlName="ingredient"
                (change)="onChangeIngredients()">
          <option *ngFor="let ingred of ingredient"
                  [value]="ingred">
            {{ingred.name}}
          </option>
        </select>
      </div>
      <button type="submit"
              name="submitButton"
              class="button-full bb-form-button">Start
      </button>
    </form>
  </div>
</main>
