<main>
  <div *ngIf="!requestSent" class="request-password-container">
    <!-- BACK BUTTON -->
    <a routerLink="/login" class="bb-back-route"><i class="bi-arrow-left"></i>Back to login</a>
    <h2 class="bb-dialog-box-header">Reset Password</h2>
    <div class="row-cols-1 register-form">
      <!-- Instructions -->
      <h4>Please enter the email of your account</h4>
      <p>
        If an account exist, an email with further instructions will be sent to you.
      </p>
      <!-- Email Input Form -->
      <form class="form" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
        <label for="inputEmail" class="bb-transition-label"
               *ngIf="isInputFocused['email'] || emailForm.get('email').value">Email Address</label>
        <input type="text" name="email" formControlName="email"
               class="bb-input-textfield bb-input"
               [class.bb-input-textfield-error]="submitted && emailForm.controls.email.errors"
               id="inputEmail"
               aria-describedby="emailHelp"
               placeholder="Email Address"
               (focus)="isInputFocused['email'] = true"
               (blur)="this.updateInputFocus('email')"
               [ngClass]="{'filled-input': emailForm.get('email').value !== ''}"
               required>
        <div *ngIf="submitted && emailForm.controls.email.errors" class="bb-input-error">
          <small class="form-text text-danger" *ngIf="emailForm.controls.email.errors.required">
            Email is required
          </small>
          <small class="form-text text-danger" *ngIf="emailForm.controls.email.errors.email">
            Please enter a valid email. Example: mustermann@gmail.com
          </small>
          <small class="form-text text-danger" *ngIf="emailForm.controls.email.errors.userNotFound">
            No account found
          </small>
        </div>

        <button type="submit" name="submitButton" class="button-full bb-form-button">Send Reset Link</button>
      </form>
      <div class="bb-text-under-button">
        <span>Not received yet? Please contact us: buddyteam@gmail.com</span>
      </div>
    </div>
  </div>
  <!-- end request form -->

  <!-- Loading icon -->
  <div *ngIf="requestSent && !requestSuccess" class="request-password-container request-password-container-centered">
    <img src="/assets/icons/loading.svg">
    <h3 class="bb-dialog-box-header header-request">Requesting Password Reset...</h3>
  </div>

  <!-- Request Successfull Info -->
  <div *ngIf="requestSuccess" class="request-password-container request-password-container-centered">
    <h2 class="bb-dialog-box-header">Confirm Reset</h2>

    <!-- Email Sent Icon -->
    <img src="/assets/icons/email_sent.svg">

    <!-- Instructions -->
    <h4>A password reset link will be sent to your email account</h4>
    <div class="bb-text-under-button">
    <span>If you did not receive it, check your spam folder or try again in a few minutes.
    The reset link is valid for 24 hours.</span>
    </div>
  </div>
</main>
