<div style="padding: 20px;">

  <!-- Request Input Form -->
  <div *ngIf="!requestSent" class="request-password-container">

    <!-- BACK BUTTON -->
    <a routerLink="/login" class="bb-link"><i class="bi-arrow-left"></i>BACK TO LOGIN</a>

    <!-- DIALOG HEADER -->
    <span class="bb-dialog-box-header">Reset Password</span>

    <!-- Instructions -->
    <p>
      <strong>Please enter the email of your account.</strong><br>
      If an account exist, an email with further instructions will be sent to you.
    </p>

    <!-- Email Input Form -->
    <form class="form" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
      <input type="text" name="email" formControlName="email"
             class="bb-input-textfield"
             [class.bb-input-textfield-error]="submitted && emailForm.controls.email.errors"
             id="inputEmail"
             aria-describedby="emailHelp"
             placeholder="Enter Email">
      <div *ngIf="submitted && emailForm.controls.email.errors" class="error">
        <small class="form-text text-danger" style='text-align: start; display: block; width: 100%;' *ngIf="emailForm.controls.email.errors.required">Email is required
        </small>
        <small class="form-text text-danger" style="text-align: start; display: block; width: 100%;" *ngIf="emailForm.controls.email.errors.email">Not a valid email
        </small>
        <small class="form-text text-danger" style="text-align: start; display: block; width: 100%;" *ngIf="emailForm.controls.email.errors.userNotFound">No account found
        </small>
      </div>

      <button type="submit" name="submitButton" class="bb-button-big">Send Reset Link</button>
    </form>
  </div>

  <!-- Loading icon -->
  <div *ngIf="requestSent && !requestSuccess" class="request-password-container request-password-container-centered">
    <img style="margin-bottom: 0;" src="/assets/icons/loading.svg">
    <p style="margin-top: 0; margin-bottom: 2.5rem;"><strong>Requesting Password Reset...</strong></p>
  </div>

  <!-- Request Successfull Info -->
  <div *ngIf="requestSuccess" class="request-password-container request-password-container-centered">
    <!-- DIALOG HEADER -->
    <span class="bb-dialog-box-header">Confirm Reset</span>

    <!-- Email Sent Icon -->
    <img src="/assets/icons/email_sent.svg">

    <!-- Instructions -->
    <p>
      A password reset link will be sent to your email account. <br><br>
      If you did not receive it, check your spam folder or try again in a few minutes.
      The reset link is valid for 24 hours.
    </p>
  </div>

</div>






