.request-password-container {
  display: flex;
  flex-direction: column;
}

.request-password-container-centered {
  align-content: center;
  align-items: center;
  text-align: center;
}

.request-password-container > a {
  color: rgba(0,0,0, 0.65) !important;
  text-decoration: none !important;
  font-weight: 600;

  width: fit-content;

  margin-bottom: 0.4rem;
}

.request-password-container > a:hover {
  color: var(--link-color-hover) !important;
}

.request-password-container > a > i {
  margin-right: 0.2rem;
}

p, input, button {
  margin-top: 1rem;
  margin-bottom: 0;
}

p {
  width: fit-content;
}

img {
  position: relative;

  margin: 2rem 0;

  width: 40%;
  max-width: 180px;

  align-self: center;
}
