.request-password-container > a > i {
  margin-right: 0.2rem;
}
.bold {
  font-weight: 600;
}

p, input, button {
  margin-top: 1rem;
}

p {
  width: fit-content;
  margin-bottom: 10%;
}

img {
  position: relative;

  margin-top: 15%;
  margin-bottom: 15%;
  margin-left: 28%;

  width: 40%;
  max-width: 50%;

  align-self: center;
}

.register-form{
  margin-top: 10%;
  margin-bottom: 20%;
}

.bb-dialog-box-header {
  margin: 15% 0;
}

.filled-input {
  color: black;
}

.input-error-general {
  margin-top: 10%;
}

.bb-form-button, .bb-text-under-button {
  margin-top: 10%;
}

